apiVersion: v1
kind: NodeList
items:
{{- range .Nodes }}
  - apiVersion: v1
    kind: Node
    metadata:
      name: {{ .Name }}
    status:
      capacity:
        cpu: "{{ .CPUCapacity }}"
        memory: "{{ .MemoryCapacity }}Gi"
        pods: "{{ .PodCapacity }}"
      allocatable:
        cpu: "{{ .CPUCapacity }}"
        memory: "{{ .MemoryCapacity }}Gi"
        pods: "{{ .PodCapacity }}"
      phase: Running
      conditions:
        - type: Ready
          status: 'True'
{{- end }}